[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "devEMF"]
	path = devEMF
	url = https://github.com/plfjohnson/devemf
	shallow = true
	registered = true
